.header {
  height: rem(120px);
  max-width: rem(1180px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(0px) rem(24px);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(100px);
  }
}

.links {
  flex: 1;
}

.link {
  display: block;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-dark);
  font-size: var(--mantine-font-size-md);

  @mixin hover {
    color: var(--mantine-color-brand-6);
  }
}

.userMenuLink {
  color: var(--mantine-color-dark);
  text-decoration: none;
}
