.footer {
  background-color: var(--mantine-color-dark-8);
}

.footerContent {
  max-width: rem(1180px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: rem(0px) rem(24px);
}

.link {
  display: block;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-md);
  font-weight: 500;

  @mixin hover {
    color: var(--mantine-color-brand-6);
  }
}
